<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>GetTokenServlet</servlet-name>
    <servlet-class>
			org.core.servlet.GetTokenServlet
		</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <description>CoreServlet</description>
    <display-name>CoreServlet</display-name>
    <servlet-name>CoreServlet</servlet-name>
    <servlet-class>org.core.servlet.CoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ServiceServlet</description>
    <display-name>ServiceServlet</display-name>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>org.business.servlet.ServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>InsorgServlet</description>
    <display-name>InsorgServlet</display-name>
    <servlet-name>InsorgServlet</servlet-name>
    <servlet-class>org.business.servlet.InsorgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>CallServlet</description>
    <display-name>CallServlet</display-name>
    <servlet-name>CallServlet</servlet-name>
    <servlet-class>org.business.servlet.CallServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ContactServlet</description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>org.business.servlet.ContactServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>CoreServlet</servlet-name>
    <url-pattern>/CoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/ServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsorgServlet</servlet-name>
    <url-pattern>/InsorgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallServlet</servlet-name>
    <url-pattern>/CallServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
</web-app>